.wrapper {
    background: var(--c-silver);
    padding: 12px 6px;
    border-radius: var(--b-radius);
}

.header {
    display: flex;
    font-weight: bold;
}

.stars {
    margin-left: auto;
}

.description {
    margin: var(--size-s) 0 0;
    line-height: 1.2;
    font-size: 14px;
}
