.header {
    background: var(--c-whitesmoke);
    padding: var(--size-m);
    border-radius: var(--b-radius);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: transform 200ms;
}

.header:hover {
    transform: translateX(4px);
}

.message {
    padding: var(--size-s);
}
