.form {
    display: grid;
    grid-gap: var(--size-l);
}

.input {
    border: 1px solid var(--c-silver);
    background: var(--c-whitesmoke);
    padding: var(--size-m);
    border-radius: var(--b-radius);
}

.input:focus {
    outline: none;
}

.button {
    background: var(--c-steelblue);
    border: 1px solid var(--c-steelblue);
    color: var(--c-white);
    padding: var(--size-m);
    border-radius: var(--b-radius);
    cursor: pointer;
    transition: opacity 200ms;
}

.button:hover {
    opacity: 0.9;
}

.button[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
}

.message {
    opacity: 0.7;
}
